ion-content {
    --background: rgb(187, 162, 162) url('./../../../../assets/Images/plaop.jpg') no-repeat center center / cover;
  
     opacity: 0.9;
    color: rgb(255, 255, 255);
    h3{
        color:  rgb(2, 29, 80);
        height: 20px;
        border-radius: 10px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    h2{
        color:  rgb(2, 29, 80);
        height: 20px;
        margin-right: 25px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
ion-card-title{
    color: rgb(255, 255, 255);
}
.error-container{
    color: red;
    align-items: center;
}
P{
    font-size: small;
}
ion-item{
    border: 1px solid rgb(2, 29, 80);
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    font-size: medium;
    --color: rgb(2, 20, 36);

}

ion-textarea{
    border: 1px solid rgb(2, 29, 80);
    border-radius: 20px 20px 20px 20px;
    --background: transparent;
}
ion-label{
    font-size: medium;
    padding-left: 10px;
    color: rgb(2, 14, 26);
}
img{
    width: 100%;
    height: 25%;
}
ion-card-content{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 5px;
    color: #fff;
    padding: 10px;  
    border-right: 1px solid rgb(2, 29, 80);
    border-left: 1px solid rgb(2, 29, 80);
}
ion-grid{
    margin-top: 25px;
}
ion-card{
    border-radius: 15px;
    background: black;
    opacity: 0.8;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
}
.logo{
    height: 100px;
    width: 100%;
}