


<ion-content class="home" >
    <ion-grid fixed>
      <ion-row class="ion-align-items-center" class="ion-justify-content-center">
        <ion-col sizeXm="12" sizeMd="8" sizeLg="6"  >
          <ion-card class="bg-transparent">
 
            <ion-card-header>
           <ion-card-title class="title"> Welcome to NSNP</ion-card-title>
           <br>
           <ion-card-subtitle class="subtitle">National School Nutrition Project</ion-card-subtitle>
         </ion-card-header>
         <ion-button color="tertiary"  (click)="signup()" expand="block"  shape="round">
           Sign Up
         </ion-button>
         <br>
         <ion-button color="light" (click)="signin()" expand="block" fill="outline" shape="round">
           Sign In
         </ion-button>
       </ion-card>
      
        </ion-col>
      </ion-row>
    </ion-grid>

 

</ion-content>
